{% extends "base.html" %} {% block title %}Home{%endblock%}
{%block content%}

	<section
		id="hero-section"
		class="carousel slide"
		data-bs-ride="carousel"
	>
		<div class="carousel-inner">
			<!-- Slide 1 -->
			<div
				class="carousel-item active"
				style="
					background: url('https://cdn.pixabay.com/photo/2024/03/09/17/27/ai-generated-8623019_1280.jpg')
						no-repeat center center;
					background-size: cover;
					height: 100vh;
				"
			>
				<div
					class="carousel-caption d-flex justify-content-center align-items-center h-100 text-center"
				>
					<h1
						class="text-white"
						style="font-size: 7rem; font-weight: 900"
					>
						Detect Skin Cancer Early
					</h1>
				</div>
			</div>
			<!-- Slide 2 -->
			<div
				class="carousel-item"
				style="
					background: url('file:///C:/Users/HP/Downloads/istockphoto-1209448771-612x612.jpg')
						no-repeat center center;
					background-size: cover;
					height: 100vh;
				"
			>
				<div
					class="carousel-caption d-flex justify-content-center align-items-center h-100 text-center"
				>
					<h1
						class="text-white"
						style="font-size: 4rem"
					>
						Accurate AI-powered Detection
					</h1>
				</div>
			</div>
			<!-- Slide 3 -->
			<div
				class="carousel-item"
				style="
					background: url('https://raw.githubusercontent.com/nubaronat/SkinCancerDetection/refs/heads/main/SkinCancerDetection/static/images/img3.png.webp')
						no-repeat center center;
					background-size: cover;
					height: 100vh;
				"
			>
				<div
					class="carousel-caption d-flex justify-content-center align-items-center h-100 text-center"
				>
					<h1
						class="text-white"
						style="font-size: 4rem"
					></h1>
				</div>
			</div>
		</div>
		<!-- Controls -->
		<button
			class="carousel-control-prev"
			type="button"
			data-bs-target="#hero-section"
			data-bs-slide="prev"
		>
			<span
				class="carousel-control-prev-icon"
				aria-hidden="true"
			></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next"
			type="button"
			data-bs-target="#hero-section"
			data-bs-slide="next"
		>
			<span
				class="carousel-control-next-icon"
				aria-hidden="true"
			></span>
			<span class="visually-hidden">Next</span>
		</button>
	</section>
	<!-- Blog Cards Section -->
	<div class="container my-5">
		<h2 class="text-center mb-5">Latest Blogs</h2>
		<div class="row">
			<!-- Blog Card 1 -->
			<div class="col-md-6 mb-4">
				<div
					class="blog-card"
					data-bs-toggle="modal"
					data-bs-target="#blogModal1"
				>
					<img
						src="C:\Users\HP\Downloads\66ac1ba0f5ce0705b94e28a4_66ac1b728fe32a87a807c810_Picture20Basal20Carcinoma.jpeg"
						alt="Basal Cell Carcinoma"
					/>
					<div class="blog-card-body">
						<h5 class="card-title">Basal Cell Carcinoma (BCC)</h5>
					</div>
				</div>
			</div>

			<!-- Blog Card 2 -->
			<div class="col-md-6 mb-4">
				<div
					class="blog-card"
					data-bs-toggle="modal"
					data-bs-target="#blogModal2"
				>
					<img
						src="c:\Users\HP\Downloads\squamous-cell-carcinoma-symtoms-rough-reddish-patch.png"
						alt="Squamous Cell Carcinoma"
					/>
					<div class="blog-card-body">
						<h5 class="card-title">Squamous Cell Carcinoma (SCC)</h5>
					</div>
				</div>
			</div>

			<!-- Blog Card 3 -->
			<div class="col-md-6 mb-4">
				<div
					class="blog-card"
					data-bs-toggle="modal"
					data-bs-target="#blogModal3"
				>
					<img
						src="c:\Users\HP\Downloads\download.jfif"
						alt="Melanoma"
					/>
					<div class="blog-card-body">
						<h5 class="card-title">Melanoma</h5>
					</div>
				</div>
			</div>

			<!-- Blog Card 4 -->
			<div class="col-md-6 mb-4">
				<div
					class="blog-card"
					data-bs-toggle="modal"
					data-bs-target="#blogModal4"
				>
					<img
						src="c:\Users\HP\Downloads\images (2).jfif"
						alt="benign keratosis-like lesions (bkl)"
					/>
					<div class="blog-card-body">
						<h5 class="card-title">benign keratosis-like lesions (bkl)</h5>
					</div>
				</div>
			</div>
			<!-- Blog Card 5 -->
			<div class="col-md-6 mb-4">
				<div
					class="blog-card"
					data-bs-toggle="modal"
					data-bs-target="#blogModal5"
				>
					<img
						src="c:\Users\HP\Downloads\images.jfif"
						alt="dermatofibroma"
					/>
					<div class="blog-card-body">
						<h5 class="card-title">dermatofibroma (df)</h5>
					</div>
				</div>
			</div>
			<!-- Blog Card 6 -->
			<div class="col-md-6 mb-4">
				<div
					class="blog-card"
					data-bs-toggle="modal"
					data-bs-target="#blogModal6"
				>
					<img
						src="c:\Users\HP\Downloads\images (1).jfif"
						alt="vascular lesions"
					/>
					<div class="blog-card-body">
						<h5 class="card-title">vascular lesions (vasc)</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog Modals -->

	<!-- Modal for Basal Cell Carcinoma (BCC) -->
	<div
		class="modal fade"
		id="blogModal1"
		tabindex="-1"
		aria-labelledby="blogModalLabel1"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5
						class="modal-title"
						id="blogModalLabel1"
					>
						Basal Cell Carcinoma (BCC)
					</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<p>
						<strong>Basal Cell Carcinoma (BCC)</strong> is a type of
						epithelial skin cancer that seldom spreads but, if left untreated,
						can be fatal . It is the most common form of skin cancer.
					</p>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="modal-close-btn"
						data-bs-dismiss="modal"
						aria-label="Close"
					>
						Close
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal for Squamous Cell Carcinoma (SCC) -->
	<div
		class="modal fade"
		id="blogModal2"
		tabindex="-1"
		aria-labelledby="blogModalLabel2"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5
						class="modal-title"
						id="blogModalLabel2"
					>
						Squamous Cell Carcinoma (SCC)
					</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<p>
						<strong>Squamous Cell Carcinoma (SCC)</strong> is a type of skin
						cancer that originates in the squamous cells of the skin that are
						noninvasive and can be treated locally without surgery.
					</p>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="modal-close-btn"
						data-bs-dismiss="modal"
						aria-label="Close"
					>
						Close
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal for Melanoma -->
	<div
		class="modal fade"
		id="blogModal3"
		tabindex="-1"
		aria-labelledby="blogModalLabel3"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5
						class="modal-title"
						id="blogModalLabel3"
					>
						Melanoma
					</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<p>
						<strong>Melanoma</strong> is the deadliest form of skin cancer,
						originating in the melanocytes and can take many different forms,
						the pigment-producing cells of the skin.
					</p>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="modal-close-btn"
						data-bs-dismiss="modal"
						aria-label="Close"
					>
						Close
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal for benign keratosis-like lesions (bkl) -->
	<div
		class="modal fade"
		id="blogModal4"
		tabindex="-1"
		aria-labelledby="blogModalLabel4"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5
						class="modal-title"
						id="blogModalLabel4"
					>
						benign keratosis-like lesions (bkl)
					</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<p>
						<strong>Merkel Cell Carcinoma (MCC)</strong>seborrheic
						keratoses,lichen-planus like keratoses,and solar lentigo,correlate
						to a seborrheic keratosis or a sun lentigo with regression and
						inflammation .
					</p>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="modal-close-btn"
						data-bs-dismiss="modal"
						aria-label="Close"
					>
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal for dermatofibroma (df) -->
	<div
		class="modal fade"
		id="blogModal5"
		tabindex="-1"
		aria-labelledby="blogModalLabel5"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5
						class="modal-title"
						id="blogModalLabel5"
					>
						dermatofibroma (df)
					</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<p>
						<strong>dermatofibroma (df)</strong> skin lesions that are either
						benign growth or an inflammatory response to minor trauma.
					</p>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="modal-close-btn"
						data-bs-dismiss="modal"
						aria-label="Close"
					>
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal for vascular lesions (vasc) -->
	<div
		class="modal fade"
		id="blogModal6"
		tabindex="-1"
		aria-labelledby="blogModalLabel6"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5
						class="modal-title"
						id="blogModalLabel6"
					>
						vascular lesions (vasc)
					</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<p>
						<strong>vascular lesions (vasc)</strong>cherry
						angiomas,angiokertomas,and pyogenic granulomas are example of
						benign or mailgnant angiomas .
					</p>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="modal-close-btn"
						data-bs-dismiss="modal"
						aria-label="Close"
					>
						Close
					</button>
				</div>
			</div>
		</div>
	</div>

{%endblock%}